@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="leader-container">
		<div class="leader">Leaderboard</div>
		<div class="leader-entires">
			@for(int i = 0; i < G.Entries.Count && i < 10; i++)
			{
				var entrie = G.Entries[i];
				<div class="leader-entrie">
					<div class="entrie-rank">@(i+1).</div>
                    <div class="entrie-name">@entrie.DisplayName</div>
                    <div class="entrie-value">@FormatTime(entrie.Value)</div>
				</div>
			}
		</div>
	</div>
</root>

@code
{
    [Property] public GameManager G;
    private string FormatTime(double timeSecond)
    {
        if (timeSecond == 0) return "--:--";
        double minutes = (int)timeSecond / 60;
        double seconds = timeSecond % 60;
        return $"{minutes:00}:{seconds:00.000}";
    }
	protected override int BuildHash() => System.HashCode.Combine(G?.Entries);
}
