@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="text" onclick="@ResetGame">Restart</div>
	<div class="text" onclick="@BackToMenu">Back to menu</div>

</root>

@code
{


    [Property] private SceneFile mainMenu;
    [Property] private GameData spawn;

    private void BackToMenu()
    {
        Scene.Load(mainMenu);
    }
    private void ResetGame()
    {
        Scene.LoadFromFile("scenes/surf_beginner.scene");
    }
    protected override int BuildHash() => System.HashCode.Combine( BackToMenu );
}
