@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="content">
        <div class="text"><label class="key">B</label> — Return to menu</div>
    </div>
    <div class="content">
        <div class="text"><label class="key">R</label> — Respawn</div>
    </div>
</root>

@code
{


    [Property] private SceneFile mainMenu;
    protected override void OnUpdate( )
    {
        BackToMenu();
    }

    private void BackToMenu()
    {
        if (Input.Keyboard.Pressed("B"))
        {
            Scene.Load(mainMenu);
        }
    }
    protected override int BuildHash() => System.HashCode.Combine(BackToMenu);
}
