PauseMenu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 0px 0px 24px 24px;

	.content {
		background-color: #1a1a2ecc;
		border-radius: 8px;
		border-left: 3px solid #f5c518;
		padding: 6px 14px;
		margin-top: 5px;
	}

	.text {
		font-family: Poppins;
		font-weight: bold;
		font-size: 16px;
		color: #ffffff;
		text-stroke: 1px #000;
		white-space: nowrap;
	}

	.key {
		color: #f5c518;
		font-weight: black;
	}
}
