PauseMenu
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.8);
	flex-direction:column;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	pointer-events:all;

	.text
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
		margin:5px 0px 0px 0px;
		align-items:center;
	}
	.text:hover{
		transition:all 0.2s ease;
		color:black;
		background-color:orange;
		border-radius:5px;
		padding: 0px 5px 0px 5px;
	}
}