PauseMenu {
	flex-direction: column;
	justify-content:flex-end;
	padding:0px 0px 20px 20px;
	font-weight: bold;
	font-size: 16px;
	font-family: Poppins;
	color: #000;

	.text {
		opacity: 150;
	}

	.content {
		background-color: orange;
		border-radius: 5px;
		padding: 5px;
		margin: 0px 0px 5px 0px;
		opacity: 0.4;
	}
}
