@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Network;
@using System.Threading.Tasks;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="board">
    <div class="name"></div>
    <div class="sub-name"></div>
        <div class="content">
        @if (!ShowMapList && !ShowServerList)
        {
       
            <div class="map-select button" onclick=@(() => ShowMapList = !ShowMapList)>Map Select</div>
                <div class="map-select button" onclick=@(async () => {
                    ShowServerList = !ShowServerList;
                    await GetLobby();
                })>Join Game</div>
            
            <div class="exit button" onclick=@CloseGame>Exit</div>
        }
        else if (ShowMapList)
        {
            <div class="maps">
                @foreach(var map in mapItems)
                {
                    <div class="map-item button" onclick=@(() => LoadMap(map.SceneName))>
                        <div class="map-name button">@map.Name</div>
                    </div>
                }
            </div>
                <div class="exit button " onclick="@(() => ShowMapList = !ShowMapList)">Back</div>
            }
        else if (ShowServerList)
        {
            <div class="servers">
                    @foreach(var server in serverList)
                    {
                        <div class="map-select button" onclick=@(()=>JoinGame(server))>Join Game
                            <div class="map-name button"> @server.Map</div>
                        </div>
                    }
            </div>
                <div class="exit button " onclick="@(() => ShowServerList = !ShowServerList)">Back</div>
        }
             </div>
    </div>
</root>

@code
{
    [Property] public GameManager G;

    private bool ShowMapList = false;
    private bool ShowServerList = false;
    private List<MapItem> mapItems = new List<MapItem>
    {
        new MapItem {Name = "Beginner", SceneName = "surf_beginner"},
        //new MapItem {Name = "Spin", SceneName = "surf_spin"},

    };
    private List<LobbyInformation> serverList = new();

    private async Task GetLobby()
    {
        serverList = await Networking.QueryLobbies();
    }
    private async Task JoinGame(LobbyInformation server)
    {
        Networking.Connect(server.LobbyId);
    }
    private void CloseGame()
    {
        Game.Close();
    }
    private void LoadMap(string SceneName)
    {
        string load = "scenes/" + SceneName + ".scene";
        G.MapName = SceneName;
        Scene.LoadFromFile(load);
        Networking.CreateLobby(new LobbyConfig(){
            MaxPlayers = 8,
            Privacy = LobbyPrivacy.Public,
        });
        
    }
    protected override int BuildHash() => System.HashCode.Combine(ShowMapList);
    public class MapItem
    {
        public string Name { get; set; }
        public string SceneName { get; set; }
        public string GetIcon() => $"textures/UI/{Name.ToLower()}.vtex";
    }
}
