{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": true,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "0e429a94-2263-4e2f-b3bb-971d35b70e58",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}